.footer__text{
    display: flex;
    margin: 0;
    padding: 0;
    color: #545454;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 282px;
}

@media screen and (max-width: 767px) {
    .footer__text {
        font-size: 14px;
    }
}